/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url('/img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4rem;
}

.hero__title {
  font-size: 4rem !important;
  font-weight: 800 !important;
  line-height: 1.2 !important;
}

.hero__subtitle {
  font-size: 2rem !important;
  font-weight: 400 !important;
  margin-top: 1rem !important;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  
  .hero__title {
    font-size: 2.5rem !important;
  }
  
  .hero__subtitle {
    font-size: 1.5rem !important;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
